*{
	margin: 0px;
	padding: 0px;
}
.con{
	display: -webkit-flex;
	width: 600px;
	background-color: #CCCCCC;
	margin: 200px auto;
	font-family: "Times New Roman",Georgia,Serif;
}
#first{
	height: 100px;
	-webkit-flex:1;
	-webkit-order:1;
	background-color: #FFCCCC;
}
#second{
	height: 100px;
	-webkit-flex:1;
	-webkit-order:3;
	background-color: #99CCCC;
}
#three{
	height: 200px;
	-webkit-flex:1;
	-webkit-order:2;
	background-color: #FFCC99;
}
.con_div{
	text-align: center;
	height:100px;   
    line-height:100px;
}